/* ****************Main CSS********************* */
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
  color: inherit;
}

body {
  text-align: left;
  font-family: 'Roboto';
  font-size: 2rem;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #BEDCFA;
}

h1,h2{
  font-family: 'Lato';
  font-weight: 700;
}

h3{
  color: #A2FAC4;
}

/* sections */
.darkBlueSection{
  background-color: #587DAD;
  color: #BEDCFA;
}

.darkBlueSection h1{
  color: #BEDCFA;
}

.lightBlueSection{
  background-color: #BEDCFA;
  color: #587DAD;
}

.lightBlueSection h1{
  color: #587DAD;
  margin-bottom: 1rem;
}

.lightBlueSection h3{
  font-weight: 700;
  color:#587DAD;
}

.lightBlueSection a{
  transition: 0.5s;
}

.lightBlueSection a:hover{
  color: #71a2df;
}

.lightBlueSection .container{
  margin: auto 6%;
}

/* containers */
.container{
  padding: 10vh 0.5rem 18vh 0.5rem;
}

.col{
  margin: 4rem auto;
}

/* navbar */
.nav-item:not(:last-child) .nav-link {
  border-right: 2px solid #BEDCFA;
}

.nav-link{
  color: #BEDCFA;
}

.navbar-brand{
  color: #BEDCFA;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 7vh;
  letter-spacing: .3rem;
}

/* ********************CSS for index.html******************** */

/* title section */
#titleSection{
  background-image:url('../images/MintMap.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  text-align: center;
}

.titleContainer{
  padding-bottom: 50vh;
}

/* about section */
#aboutSection{
  background-image:url('../images/Squares.png');
  background-repeat:no-repeat;
  background-size:auto;
  background-position: 5rem 5rem;
}

.aboutHeader{
  padding-bottom: 0;
}


.profImg{
  position: relative;
  height: 28vw;
  transform:rotateY(180deg);
}

/* my work section */
.workContainer, .mainWorkContainer{
  text-align: center;
}

.wwwCol{
  background-image:url('../images/www.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectImg{
  height: 30.5vh;
  border-radius:100%;
  transition: 0.5s;
}

.projectImg:hover{
  height: 33vh;
}

.workHref{
  border-radius: 100%;
}

.seeMore{
  display: inline;
  transition: 0.5s;
}

.seeMore:hover{
  color: #47AD6F;
}

/* contact me section */

.dontWaitButton{
  width: 22rem;
  height: 22rem;
  margin-top: calc(11rem * 1.4142135623730950 - 11rem);
  background-color: #587DAD;
  transform: rotate(45deg);
  transition:1s;
}

.dontWaitButton h1{
  color: #BEDCFA;
  font-size: 5rem;
  transform: rotate(-45deg);
}

.dontWaitButton:hover {
  background-color: #71a2df;
  width: 24rem;
  height: 24rem;
}

.dontWaitButton:hover h1{
  color: #cbe8fb;
}

/* footer section */

.footerContainer{
  padding-top: 3rem;
  color: #A2FAC4;
}

.footerCol{
  border-left: 2px solid #A2FAC4;
}

.footerH3{
  font-weight: 700;
}

.footerLink{
  transition: 0.5s;
}

.footerLink:hover{
  color: #47AD6F;
}

/* mediaquery */

@media (min-width:992px){
  .footerContainer p{
    font-size: 1.7vw;
  }
}

@media (max-width: 992px){
  .container{
    padding: 5vh 0.5rem 25vh 0.5rem;
  }

  .nav-item:not(:last-child) .nav-link {
    border: 0;
  }

  body {
    text-align: center;
    font-size: 1.5rem;
  }

  .titleContainer{
    padding-bottom: 50vh;
  }

  #aboutSection{
    background-position: -30rem 25rem;
  }

  .profImg{
    height: 55vw;
  }
}

@media(max-width:576px){
  #aboutSection{
    background-position: -40rem 35rem;
  }

  .profImg{
    height: 75vw;
  }
  .dontWaitButton{
    width: 16rem;
    height: 16rem;
    margin-top: calc(8rem * 1.4142135623730950 - 8rem);
    background-color: #587DAD;
    transform: rotate(45deg);
    transition:1s;
  }

  .dontWaitButton h1{
    color: #BEDCFA;
    font-size: 4rem;
    transform: rotate(-45deg);
  }

  .dontWaitButton:hover {
    background-color: #71a2df;
    width: 17rem;
    height: 17rem;
  }
}

/* *************CSS for Contact.html****************** */
#mainContactSection{
  background-image:url('../images/Squares.png');
}

/* mediaquery */

@media(max-width:576px){
  #mainContactSection{
    background-repeat:no-repeat;
    background-size:auto;
    background-position: -30rem 5rem;
  }
}
/* *****************CSS for work.html************ */

.mainWorkContainer .wwwCol{
  background-image:url('../images/dark_www.png');
}

/* *********************CSS for about.html*********** */
#mainAboutSection{
  text-align: left;
}
.aboutButton{
  transition: 0.5s;
}

.aboutButton:hover{
  color: #71a2df;
}

.aboutButton2{
  float:right;
}

.aboutProfImg{
  height: 30vh;
  margin: 10vh auto;
}

.shortHr{
  width: 10vw;
}
