a{
  text-decoration: none;
}
body{
  color:#634A3A;
  text-align: justify;
  font-size: 1.3rem;
    font-family: 'Marcellus', serif;
}

h1{
  font-family: 'Bentham', serif;
  color: #43AAB0;
  text-align: center;
}

h3{

}

hr{
  opacity: 100;
}

a{
  color:inherit;
}

a:hover{
  color: #3D2F24;
}

/* containers */
.basicContainer{
  margin: 2rem auto 2rem auto;
}

.textContainer{
  margin: auto 20% auto 20%;
}

.socialMediaContainer{
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1.75rem;
}

/* Navbar section */
.logoImg{
  width: 8rem;
}
.navbar{
  font-family: 'Trirong', serif;
  font-weight: 300;
}
.nav-link{
  font-size: 1.3rem;
  color: #634A3A;
}

.nav-link:hover{
  color: #3D2F24;
}

.basicLine{
  border-top: 5px solid #634A3A;
}

.navLineR{
  width:4rem;
}

/* Title Section */

.titleImgContainer{
  overflow-x: hidden;
  align-self: center;
}

.titleImg{
  height: 60rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.titleVideo{
  width: 100%;
}

/* Party Section */

/* carousel */
.carousel-inner{
  text-align: left;
}
.carouselImg{
  float:left;
  height: 20rem;
  margin: auto 3rem auto auto;
}

.carouselTextContainer{
  height: 20rem;
  background-color: #634A3A;
  padding-top: 2rem;
  color: white;
}

.indicatorSpace{
  height: 3.5rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #634A3A;
}

/* Offer section */
.roundImg{
  border-radius: 50%;
  margin: 1.5rem auto;
  width: 18rem;
  transition: 0.5s;
}

.roundImg:hover{
  width: 20rem;
  margin: 0.5rem auto;
}

.textA:hover{
  color: #3D2F24;
}
